*/bin
*/obj
*.suo
*.log
*.user
*/images
*/build
*/ErrorLogs/
*/node_modules
/Carwale/Editorial/UserReviewDetails2.aspx
/Carwale/Used/usedcars.html
/Carwale/Used/usedcars.html
/Carwale/Editorial/UserReviewDetails2.aspx
/Carwale/m/images/color-type-bg.png
.vs/
*/Static/StaticMin
*/NewCarFinder
*/PWA/node_modules
*/build/
rev-manifest.json
*/Static/sass/**/*.css
*/.gulp-cache
*.ruleset
*/Static/staticminv1
*/.sonarqube/
packages/
*.user
*.orig